body {
    font-family: Arial, sans-serif;
    background-color: lightblue;;
 }
 header {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
 }
 .news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
 }
 .news-item {
    width: 40%;
    border: 3px solid #0c0c0c;
    padding: 15px;
    text-align: center;
 }
 .news-item img {
    max-width: 100%;
    height: auto;
 }
 .news-item h3 {
    font-size: 1.5rem;
 }
 .news-item p {
    font-size: 1rem;
    color: #0e0d0d;
 }
 .news-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: rgb(0, 0, 0);
    text-decoration: none;
 }
 .image-container {
    border: 3px solid #000; /* Color y grosor del borde */
    padding: 10px; /* Espaciado entre la imagen y el borde */
    border-radius: 8px; /* Si deseas bordes redondeados */
    margin-bottom: 15px; /* Espacio entre el recuadro y el contenido de abajo */
 }
 
 .image-container img {
    display: block; /* Para evitar un pequeño espacio debajo de la imagen */
    width: 100%;
    height: auto;
 }
 
 #perfil-programador {
    background-color: #161515;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
 }
 
 .perfil-contenido {
    display: flex;
    align-items: center;
 }
 
 .perfil-imagen {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
 }
 
 h2 {
    color: #333;
 }
 
 h3 {
    margin: 0;
    font-size: 1.5em;
 }
 
 p {
    color: #666;
 }
 footer {
    background-color: #9ad4d6;
    color: #fff;
    text-align: center;
    padding: 20px 0;
 }
 
 footer p {
    margin: 0;
    font-size: 14px;
 }
 
 footer nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
 }
 
 footer nav ul li {
    margin: 0 15px;
 }
 
 footer nav ul li a {
    color: #0f0d0d;
    text-decoration: none;
    font-size: 14px;
 }
 
 footer nav ul li a:hover {
    text-decoration: underline;
 }
 